:root{
    --primary-margin: 0;
    --primary-padding: 0;
    --primary-box-sizing: border-box;
    --primary-justify-content: center;
    --secondary-color: deeppink;
    --secondary-display: block;
    --primary-width: 100%;
    --primary-height: auto;
    --primary-text-align: center;
    --secondary-position: relative;
    --primary-font-style: italic;
    --primary-display: grid;
    --primary-align-items: center; 
    --background-color: whitesmoke;
    --text-color: black;
}

body {
    --primary-font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    --primary-font-size: 16px;
    --primary-overflow-x: hidden; 
}

/* Navigation bar */
.navbar {
    --primary-display: flex;
    display: var(--primary-display);
    --primary-justify-content: center;
    justify-content: var(--primary-justify-content);
    background: linear-gradient(to right, transparent 20%,  dodgerblue 50%);
}

.navbar a {
    display: var(--primary-display);
    padding: 12px;
    color: orangered;
    justify-content: var(--primary-justify-content);
    text-decoration: none;
    font-size: 17px;
  }
  
  .navbar a:hover {
    background-color: papayawhip;   
  }
  
  .active {
    background-color: paleturquoise;
  }

.navbar a i {
  color: var(--secondary-color);
}

.navbar a:hover {
  transform: rotatez(-360deg);
  transition: 1s ease;
}

input, label {
  --secondary-display: block;
  width: 120px;
  margin: 0.9rem 30px;
}

/* Hero Section */
.hero-banner {
    width: var(--primary-width);
    height: var(--primary-height);
    background-color: paleturquoise;
    text-align: var(--primary-text-align);
    margin-top: 5px;
    padding: 8px;   
}

h1 {
  transition: transform 0.3 ease;
  font-size: 25px;
}

h1:hover {
  transform: scale(1.4);
}

h1::first-letter {
  font-family: "Times New Roman";
  font-size: xx-large;
  color: var(--secondary-color);
}

.about-intro h1 {
  position: var(--secondary-position);
  top: 220px;
  left: 20px;
}
/* Search Bar */
.search-container input[type=search] {
  width: 160px;
  height: var(--primary-height);
  border-style: double;
}

.search-container i {
  position: var(--secondary-position);
  bottom: 1px;
  right: 25px;
}

.hero-box-model {
  display: var(--primary-display);
  width: 70%;
  padding: 30px;
  border: 2px solid #000;
  margin: 20px auto;
  justify-content: var(--primary-justify-content);
  text-align: var(--primary-text-align);
  background-color: #FFFFCC;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.hero-box-model p {
  font-style: var(--primary-font-style);
  font-family: 'Courier New', Courier, monospace;
  margin: -10px;
  font-size: 15px;
}

.imagebox-text {
  line-height: 5px;
}

.hero-box-model-img {  
  display: var(--primary-display);     
  grid-template-columns: repeat(3, 1fr);  
  gap: 15px;
  justify-content: space-evenly;  
  padding: 20px 0;  
}  

 .box-img {  
  height: 180px;  
  width: 220px;  
  border-style: groove; 
  border: 3px solid black; 
  transition: width 2s, height 2s, background-color 2s, rotate 2s;
 }   

.button {
  background-color: #3366FF;
  border: 2px solid #000; 
  color: #000;
  padding: 5px 10px;
  text-decoration: none;
  font-weight: bold;
  width: 40%;
  justify-self: center;
}

.portrait-img {
  position: var(--secondary-position);
  width: 200px; 
  height: 280px; 
  border: 5px solid #000;
  text-align: center;
  margin-left: 50px;  
  top: 5px;
}

.about-summary {
  display: var(--primary-display);
  position: var(--secondary-position);
  width: 50%;
  height: auto;
  padding: 0px;
  border: 2px solid black;
  background-color: #fff;
  border-radius: 15px;
  box-sizing: var(--primary-box-sizing);
  bottom: 225px;
  left: 280px;
  
}
  
.summary-text {
  position: var(--secondary-position);
  margin: 6px 16px;
  padding-bottom: 20px;
  font-family: monaco;
  font-style: italic;
  padding-bottom: 0;
}
.about-model p { 
  position: var(--secondary-position);
  top: 5px;
  font-size: 20px;
  text-align: center;
  font-style: italic;
  font-weight: bold;
  background-color: pink;
  padding: 50px;
}

.portrait2-img { 
  position: var(--secondary-position);
  width: 230px;
  height: 325px;
  left: 20px;
  top: 0;
  border: 2px solid black;
  border-style: double;
  transition: width 5s;
  
}

.about-intro {  
  display: var(--primary-display);
  
} 

.about-intro-text {
  position: var(--secondary-position);
  text-align: var(--primary-text-align);
  border: 4px solid black;
  border-style: dotted;
  width: 800px;
  height: 300px;
  left: 280px;
  bottom: 280px;
  padding: 10px;
  
}

footer { 
  display: var(--primary-display); 
  position: fixed;
  justify-content: var(--primary-justify-content);
  margin-top: 270px;
  width: 100%;
  bottom: 0;
  padding: 6px;
  font-weight: bold;
  background-color : dodgerblue;
}

.form-banner {
  position: var(--secondary-position);
  top: 2vw;
  left: 10%;
  transition: 1s ease;

}
/* Contact Form */

.form-img {
  width: 100%;
  max-width: 450px;
  height: auto;
  border: 2px solid black;
  box-shadow: 0px 0px 15px rgba(0,0,0,0.2); 
  border-radius: 15px;
  margin: 0 auto;
}

.form-wrapper {
  position: var(--secondary-position);
  left: 650px;
  bottom: 590px;
  border: 2px solid black;
  padding: 20px;
  border-radius: 10px;
  width: 35%;
  height: 600px;
  background-color: pink;
  box-sizing: var(--primary-box-sizing);
  transition: 1s ease;
}

.form-wrapper h2 { 
  text-align: var(--primary-text-align);
  font-family: cursive;
  border-bottom: 3px solid black;  
}

.form-wrapper form {
  display: var(--primary-display);
  grid-template-columns: 1fr;
  gap: 0; 
  align-items: var(--primary-align-items);
}

.form-banner:hover{
  transform: scale(0.8);
  transition: 1s ease;
}


label {
  font-family: monospace;
}

input[type=text] {
  width: 100%;
  max-width: 490px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: var(--primary-box-sizing);
  margin-top: 6px;
  margin-bottom: 16px;
  font-size: 12px;
  font-family: monospace;
}

textarea {
  position: var(--secondary-position);
  width: 100%;
  max-width: 490px;
  margin-left: 25px;
  height: 150px;
  font-size: 12px;
  font-family: monospace;
}

textarea::placeholder {
  position: var(--secondary-position);
  font-size: 12px;
  font-family: monospace;
  top: 10px;
  left: 10px;
}


input[type=submit] {
  background-color: dodgerblue;
  color: #000;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 50%;
  max-width: 350px;
  font-weight: bold;
  margin-left: 120px;
  font-size: 12px;
}
input[type=submit]:hover {
  background-color: green;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

h1 {
  text-align: var(--primary-text-align);
}

h3 {
  font-family: cursive;
}

.cards-wrapper {
  display: var(--primary-display); 
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));  
}

.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: var(--primary-display);
  margin-left: 30px;
  margin-bottom: 20px;
  align-items: var(--primary-align-items);
  justify-content: space-between; 
  width: 290px;    
  grid-template-columns: 250px;                 
  max-width: 500px;                              
  height: auto;
  border: 2px solid black;
  padding: 30px; 
  box-shadow: 0 5px 0px;
  
}
.card-title {
  font-size: 20px;
  line-height: 1.5;
  font-weight: bold;
}
.card-description {
  font-family: monospace;
  font-size: 12px;
  margin: 0; 
  line-height: 1.5;
}

.card-image{
  border: 8px solid black;
  border-style: double;
  justify-items: center;
  width: 225px;
}

#card-btn {
  width: 220px;
  font-size: 15px;
  border: 2px solid black;
  font-weight: bold;
}

.serving {
  font-family: monospace;
  font-size: 13px;
}

.star-rating {
  display: var(--primary-display);
  grid-template-columns: repeat(6, 1fr); 
}

.star-rating .fa-star {
  color: #ccc;
}

.star-rating .fa-star.checked {
  color: orange;
}

@media screen and (prefers-color-scheme: dark) {
  body {
    background-color: white;
    color: black;
  }
}

  @media screen and (max-width: 780px) {
   
    .navbar a {
      float: none;
      display: block;
    }

   .hero-box-model {
    width: 450px;
    padding: 20px;
   }
  
    .hero-box-model-img {  
      grid-template-columns: repeat(5, 1fr);
      gap: 10px; 
    } 

    .box-img {  
    width: 115px; 
    height: 100px; 
    margin-left: 20px;
    }

    .button {
      width: 200px;
      justify-self: center;
    }

    .hero-box-model p { 
    justify-content: var(--primary-justify-content); 
    display: var(--secondary-display); 
    color: #000;
    
  } 

    h1 {
    text-align: center;
    top: 180px;
    }

    .portrait-img {
    margin-left: 10px;
    }

    .about-summary { 
      width: 330px;
      height: 240px; 
      padding: 5px;
      bottom: 260px;
      left: 225px;
      }

      .summary-text  {
       margin: 0;
       font-size: 12px;
       height: 30px;
    }

      .portrait2-img { 
        position: var(--secondary-position);
        top: 0px;
        left: 20px;
        width: 220px;
        height: 300px;
      } 

      .about-intro-text {
        position: var(--secondary-position);
        width: 255px;
        height: 480px;
        padding-bottom: 60px;
        font-size: 12px; 
        left: 270px;
        bottom: 290px;
      }

    .cards-wrapper {
      justify-content: var(--primary-justify-content);
    }

    .form-banner {
      width: 50%;
      top: 140px;
      left: 20px;
      padding: 0;
      transition: 1s ease;
    }

    .form-banner:hover{
      transform: scale(0.8);
      transition: 1s ease;
    }

    .form-wrapper {
      position: var(--secondary-position);
      bottom: 350px;
      width: 40%;
      height: 625px;
      left: 150px;
      margin: 0 auto;
      transition: 1s ease;
  }

  input[type=text] {
    position: var(--secondary-position);
    width: 200px;
    right: 40px;
  }

  textarea{ 
    position: var(--secondary-position);
    width: 195px;
    right: 35px;
  }

  input[type=submit] {
    margin-left: 20px;

  }

  label {
    margin-left: 5px;
  }
  
  .cards-wrapper {
    justify-items: center;
  }


  .search-container i {
    bottom: 10x;
    right: 30px;
  }

}

